* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;}
.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0,0.6);
    align-items: center;
    justify-content: center;

}

.container {
    position: absolute;
    background: #fff;
    width: 27%;
    right: 0;
    height: 3000px;
}

.close {
    display: flex;
    background: #f3f3f3;
    padding: 0px 20px;


}

.close h2 {
    position: relative;
    padding: 20px;
}

.close h2 span {
    position: absolute;
    font-size: 12px;
    background: #405ff2;
    border-radius: 50%;
    padding: 2px 5px;
    color: #fff;
    top: 10px;
    right: 0;
}

.close i {
    font-size: 25px;
    color: #eb5a2c;
    margin-left: 150px;
    margin-top: 20px;
}

.content {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.content .box-left img {
    width: 80px;
    margin: 20px;
}l

.content .box-right {
    position: relative;

}

.box-right > i {
    position: absolute;
    right: 40px;
    font-size: 25px;
    color: #c6c6c6;
}

.content .box-right > p {
    margin: 20px;
    color: rgb(124, 124, 124);
}

.content .box-right .price {
    display: flex;
}

.box-right .price .count {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 99px;
    width: 90px;
    height: 30px;
    position: relative;
    margin-left: 20px;
}

.count .minus {
    font-size: 10px;
    position: absolute;
    left: 10px;
    top:10px;
    color: #c6c6c6;
}

.count p {
    position: absolute;
    font-size: 13px;
    top: 7px;
    left: 40px;
    color: #c6c6c6;

}

.count .plus {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top:10px;
    color: #c6c6c6;

}

.box-right .price > p {
    display: inline-block;
    margin-left: 80px;
    margin-top: 5px;
    font-weight: 900;
    font-size: 20px;
}   

.content2 {
    margin: 20px;
}

.content2 .subtotal {
    display: flex;

}

.content2 .subtotal h2+h2 {
    color: #eb5a2c;
    margin-left: 190px;
}

.content2 p {
    color: rgb(124, 124, 124);
    margin: 13px 0;
}

.content2 .view,
.content2 .add {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.content2 .view {
    border: 2px solid #a4a4a4;
    color: #a4a4a4;
    background: #fff;
    position: relative;
    transition: all 0.1s ease;
}

.content2 .add {
    background: #405ff2;
    border: none;
    color: #fff;
    transition: all 0.2s ease;
}

.content2  > i {
    color: #405ff2;
    border: 1px solid #405ff2;
    padding: 15px;
    border-radius: 50%;
    margin-top: 25px;
}

.content2 span {
    display: inline-block;
    margin-left: 50px;
    font-weight: 800;
    font-size: 18px;
}

.content2 .view:hover {
    background: #a4a4a4;
    color: #fff;
}

.content2 .add:hover {
    background: #eb5a2c;
}