.content-header {
  .content-left {
    h2 {
      color: $textColor;
      font-size: 3.66rem;
      font-weight: 800;
      line-height: 48.225px;
      max-width: 514px;
    }

    h1 {
      color: $textColor;
      font-size: 4.33rem;
      font-weight: 800;
    }

    p {
      max-width: 449px;
      color: $textColor;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 127.604%;
    }
  }

  .content-right {
    .backgroung-green {
      margin-top: 2px;
      width: 48.8vw;
      height: 708px;
      background: $green-200;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      position: relative;
      .img-span {
        img {
          width: 680px;
          height: auto;
          position: absolute;
          left: -140px;
        }

        span {
          position: absolute;
          transform: rotate(90deg);
          color: #22600031;
          font-size: 16rem;
          font-weight: 800;
          line-height: 100%; /* 166.667px */
          top: 200px;
          left: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .content-header {
    position: relative;
    .content-left {
      position: absolute;
      z-index: 2;
      left: 350px;
      bottom: 50px;

      h1 {
        max-width: 400px;
      }
    }

    .content-right {
      .backgroung-green {
        width: 99.8vw;
        margin: 0 -13px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        .img-span {
          img {
            width: 400px;
            top: -20px;
            left: -10px;
          }

          span {
            transform: rotate(0);
            top: 0;
            left: 320px;
          }
        }
      }
    }
  }
}
